$background: #1e2124;
$content: #282b30;
$content-hovered: #36393e;
$content-lightness:#424549;
$purple: #7289da;
$yellow: #FEBB14;
$red: #F36976;
$green: #1CBB9B;
$color: #fff;
$color-light: #d1d1d1;